@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Jost',sans-serif;
}

body{
background:#f6f6f6;
}

.product-container{

max-width:1450px;
margin:auto;

padding:25px 40px;

display:grid;
grid-template-columns:
90px
720px
470px;

gap:60px;
}

/* THUMBNAILS */

.thumbs{
display:flex;
flex-direction:column;
gap:20px;
}

.thumb{
width:62px;
height:82px;
object-fit:cover;
cursor:pointer;
border:1px solid transparent;
}

.thumb.active{
border:1px solid #111;
}

/* CENTER IMAGE */

.image-section{
width:100%;
}

.main-image{
width:100%;
display:block;
}

/* RIGHT PANEL */

.product-info{
position:sticky;
top:20px;
height:max-content;
}

.brand{

font-size:14px;
letter-spacing:4px;

color:#888;

margin-bottom:18px;
}

.product-info h1{

font-size:28px;

font-weight:400;

line-height:1.55;

letter-spacing:4px;

margin-bottom:20px;
}

.price-wrap{
display:flex;
align-items:center;
gap:18px;
}

.sale{

color:#ff3d32;

font-size:22px;

letter-spacing:3px;
}

.old{

text-decoration:line-through;

font-size:16px;

color:#777;

letter-spacing:2px;
}

.tax{
margin-top:6px;
color:#777;
font-size:14px;
margin-bottom:35px;
}

.label{
font-size:15px;
margin-bottom:15px;
}

.sizes{
display:flex;
flex-wrap:wrap;
gap:10px;
margin-bottom:20px;
}

.size{

width:78px;
height:46px;

border:1px solid #d9d9d9;

background:white;

cursor:pointer;

font-size:15px;
}

.size.active{
border:1px solid #111;
}

.color-label{
margin-top:10px;
}

.color-box{

width:38px;
height:38px;

border:1px solid #333;

background:#efefef;

margin-bottom:28px;
}

.qty{

width:145px;
height:50px;

border:1px solid #ddd;

display:flex;

align-items:center;

justify-content:space-between;

margin-bottom:38px;
}

.qty button{

width:45px;
height:50px;

border:none;
background:none;

font-size:28px;

cursor:pointer;
}

.qty input{

width:50px;

border:none;

text-align:center;

font-size:18px;

background:none;
}

.cart-btn{

width:100%;
height:50px;

background:white;

border:1px solid #ddd;

font-size:14px;

letter-spacing:4px;

cursor:pointer;

margin-bottom:18px;
}

.buy-btn{

width:100%;
height:50px;

border:none;

background:#111;

color:white;

font-size:14px;

letter-spacing:2px;

cursor:pointer;
}

@media(max-width:1200px){

.product-container{

grid-template-columns:1fr;
}

.product-info{
position:relative;
}

.thumbs{
flex-direction:row;
overflow:auto;
}

}